.resume{
  background: #fff;
  .resume-wrap{
    margin: 0 auto;
    padding: 96px 0 0;
    .section{
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #E8E8E8;
      .step{
        margin-bottom: 24px;
        padding: 9px 20px 0;
        min-width: 25%;
        span{
          display: inline-block;
          margin-bottom: 12px;
          color: #313131;
          font-size: 18px;
          font-weight: bold;
          border-bottom: 3px solid #11ABB0;
          height: 36px;
          line-height: 36px;
        }
      }
      .intro{
        .intro-item{
          margin-bottom: 30px;
        }
        .title{
          margin-bottom: 12px;
          color: #313131;
          font-size: 24px;
          font-weight: bold;
        }
        p{
          margin: 6px 0 16px 0;
          color: #6E7881;
        }
        .info{
          span{
            margin: 0 5px;
          }
          .date{}
        }
        .text-j{
          text-align: justify;
        }
        .bars{
          margin: 66px 0 24px;
          .skills{
            li{
              position: relative;
              margin-bottom: 60px;
              background: #ccc;
              height: 42px;
              border-radius: 3px;
              .bar-expand{
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                padding-right: 24px;
                background: #313131;
                display: inline-block;
                height: 42px;
                line-height: 42px;
                border-radius: 3px 0 0 3px;
              }
              em{
                color: #313131;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: normal;
                position: relative;
                top: -36px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .section:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
