.work{
  background-color: #ebeeee;
  .work-wrap{
    margin: 0 auto;
    padding: 90px 0 60px;
    .desc{
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 48px;
      color: #95A3A3;
    }
    .work-list{
      .item-wrap{
        // width: 25%;
        margin-bottom: 36px;
        position: relative;
        padding: 0 20px;
        min-height: 1px;
        .item-cont{
          a{
            display: block;
            cursor: pointer;
          }
          .img{
            vertical-align: bottom;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
